*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container{
    width: 900px;
    margin: 0 auto;
}

.job_form{
    width: 600px;
    margin: 50px auto;
    background-color: white;
    padding: 20px;
    box-shadow: 4px 3px 5px rgba(1, 1, 1, 0.1);
    border-radius: 10px;
}

h1>span{
    font-size: xx-small;
}

.form_container{
    display: grid;
    grid-template-columns: repeat(auto-fit, min-max(200px,1fr));
}